@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: 'Roboto Mono';
  padding: 2rem;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
  }
  
  .texto {
    padding-left: 1rem;
    flex: 1;
    margin-right: 0.5rem;
  }

  .texto h2{
    font-size: 4rem;
  }

  .texto p{
    font-size: 1.5rem;
    margin-right: 20rem;
  }
  
  .imagem {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Alinha a imagem à esquerda */
  }
  
  .imagem img {
    width: 45rem;
    height: auto;
    padding-top: 3rem;
  }
  


.but1{
  font-family: 'Roboto Mono';
  background-color: #333;
  border-radius: 3rem;
  border-style: none;
  padding: 1rem 4rem 1rem 4rem;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;

  transition:  .5s;
}

.but1:hover{
  background-color: black;
  transition: .5s;
  letter-spacing: 0.2rem;
}

