@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.sobre-sec1-container {
    margin-bottom: 4rem; /* Espaço na parte inferior da seção */
  }
  
  .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texto {
    color: #333;
    flex: 1;
    padding-right: 0.2rem;
  }
  
  .texto h2 {
    font-size: 4rem;
  }
  
  .texto p {
    font-size: 1.5rem;
  }
  
  .imagens {
    display: flex;
  }
  
  .imagens img {
    max-width: 100%;
    height: auto;
    padding-left: 1rem;
  }
  